.imgPlaceholderTall_1 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/1.jpg') !important;
}

.imgPlaceholderTall_2 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/2.jpg') !important;
}

.imgPlaceholderTall_3 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/3.jpg') !important;
}

.imgPlaceholderTall_4 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/4.jpg') !important;
}

.imgPlaceholderTall_5 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/5.jpg') !important;
}

.imgPlaceholderTall_6 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/6.jpg') !important;
}

.imgPlaceholderTall_7 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/7.jpg') !important;
}

.imgPlaceholderTall_8 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/8.jpg') !important;
}

.imgPlaceholderTall_9 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/9.jpg') !important;
}

.imgPlaceholderTall_10 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/10.jpg') !important;
}

.imgPlaceholderTall_11 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/11.jpg') !important;
}

.imgPlaceholderTall_12 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/12.jpg') !important;
}

.imgPlaceholderTall_13 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/13.jpg') !important;
}

.imgPlaceholderTall_14 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/14.jpg') !important;
}

.imgPlaceholderTall_15 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/15.jpg') !important;
}

.imgPlaceholderTall_16 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/16.jpg') !important;
}

.imgPlaceholderTall_17 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/17.jpg') !important;
}

.imgPlaceholderTall_18 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/18.jpg') !important;
}

.imgPlaceholderTall_19 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/19.jpg') !important;
}

.imgPlaceholderTall_20 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/20.jpg') !important;
}

.imgPlaceholderTall_21 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/21.jpg') !important;
}

.imgPlaceholderTall_22 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/22.jpg') !important;
}

.imgPlaceholderTall_23 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/23.jpg') !important;
}

.imgPlaceholderTall_24 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/24.jpg') !important;
}

.imgPlaceholderTall_25 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/25.jpg') !important;
}

.imgPlaceholderTall_26 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/26.jpg') !important;
}

.imgPlaceholderTall_27 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/27.jpg') !important;
}

.imgPlaceholderTall_28 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/28.jpg') !important;
}

.imgPlaceholderTall_29 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/29.jpg') !important;
}

.imgPlaceholderTall_30 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/30.jpg') !important;
}

.imgPlaceholderTall_31 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/31.jpg') !important;
}

.imgPlaceholderTall_32 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/32.jpg') !important;
}

.imgPlaceholderTall_33 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/33.jpg') !important;
}

.imgPlaceholderTall_34 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/34.jpg') !important;
}

.imgPlaceholderTall_35 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/35.jpg') !important;
}

.imgPlaceholderTall_36 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/36.jpg') !important;
}

.imgPlaceholderTall_37 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/37.jpg') !important;
}

.imgPlaceholderTall_38 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/38.jpg') !important;
}

.imgPlaceholderTall_39 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/39.jpg') !important;
}

.imgPlaceholderTall_40 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/40.jpg') !important;
}

.imgPlaceholderTall_41 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/41.jpg') !important;
}

.imgPlaceholderTall_42 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/42.jpg') !important;
}

.imgPlaceholderTall_43 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/43.jpg') !important;
}

.imgPlaceholderTall_44 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/44.jpg') !important;
}

.imgPlaceholderTall_45 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/45.jpg') !important;
}

.imgPlaceholderTall_46 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/46.jpg') !important;
}

.imgPlaceholderTall_47 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/47.jpg') !important;
}

.imgPlaceholderTall_48 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/48.jpg') !important;
}

.imgPlaceholderTall_49 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/49.jpg') !important;
}

.imgPlaceholderTall_50 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/50.jpg') !important;
}

.imgPlaceholderTall_51 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/51.jpg') !important;
}

.imgPlaceholderTall_52 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/52.jpg') !important;
}

.imgPlaceholderTall_53 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/53.jpg') !important;
}

.imgPlaceholderTall_54 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/54.jpg') !important;
}

.imgPlaceholderTall_55 {
    background: url('https://pixel4inch.github.io/utubelinks/images/tall/55.jpg') !important;
}


/*========SQURE IMAGES===========*/


.imgPlaceholderSqure_1 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/1.jpg') !important;
}

.imgPlaceholderSqure_2 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/2.jpg') !important;
}

.imgPlaceholderSqure_3 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/3.jpg') !important;
}

.imgPlaceholderSqure_4 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/4.jpg') !important;
}

.imgPlaceholderSqure_5 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/5.jpg') !important;
}

.imgPlaceholderSqure_6 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/6.jpg') !important;
}

.imgPlaceholderSqure_7 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/7.jpg') !important;
}

.imgPlaceholderSqure_8 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/8.jpg') !important;
}

.imgPlaceholderSqure_9 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/9.jpg') !important;
}

.imgPlaceholderSqure_10 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/10.jpg') !important;
}

.imgPlaceholderSqure_11 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/11.jpg') !important;
}

.imgPlaceholderSqure_12 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/12.jpg') !important;
}

.imgPlaceholderSqure_13 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/13.jpg') !important;
}

.imgPlaceholderSqure_14 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/14.jpg') !important;
}

.imgPlaceholderSqure_15 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/15.jpg') !important;
}

.imgPlaceholderSqure_16 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/16.jpg') !important;
}

.imgPlaceholderSqure_17 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/17.jpg') !important;
}

.imgPlaceholderSqure_18 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/18.jpg') !important;
}

.imgPlaceholderSqure_19 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/19.jpg') !important;
}

.imgPlaceholderSqure_20 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/20.jpg') !important;
}

.imgPlaceholderSqure_21 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/21.jpg') !important;
}

.imgPlaceholderSqure_22 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/22.jpg') !important;
}

.imgPlaceholderSqure_23 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/23.jpg') !important;
}

.imgPlaceholderSqure_24 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/24.jpg') !important;
}

.imgPlaceholderSqure_25 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/25.jpg') !important;
}

.imgPlaceholderSqure_26 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/26.jpg') !important;
}

.imgPlaceholderSqure_27 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/27.jpg') !important;
}

.imgPlaceholderSqure_28 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/28.jpg') !important;
}

.imgPlaceholderSqure_29 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/29.jpg') !important;
}

.imgPlaceholderSqure_30 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/30.jpg') !important;
}

.imgPlaceholderSqure_31 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/31.jpg') !important;
}

.imgPlaceholderSqure_32 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/32.jpg') !important;
}

.imgPlaceholderSqure_33 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/33.jpg') !important;
}

.imgPlaceholderSqure_34 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/34.jpg') !important;
}

.imgPlaceholderSqure_35 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/35.jpg') !important;
}

.imgPlaceholderSqure_36 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/36.jpg') !important;
}

.imgPlaceholderSqure_37 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/37.jpg') !important;
}

.imgPlaceholderSqure_38 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/38.jpg') !important;
}

.imgPlaceholderSqure_39 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/39.jpg') !important;
}

.imgPlaceholderSqure_40 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/40.jpg') !important;
}

.imgPlaceholderSqure_41 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/41.jpg') !important;
}

.imgPlaceholderSqure_42 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/42.jpg') !important;
}

.imgPlaceholderSqure_43 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/43.jpg') !important;
}

.imgPlaceholderSqure_44 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/44.jpg') !important;
}

.imgPlaceholderSqure_45 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/45.jpg') !important;
}

.imgPlaceholderSqure_46 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/46.jpg') !important;
}

.imgPlaceholderSqure_47 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/47.jpg') !important;
}

.imgPlaceholderSqure_48 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/48.jpg') !important;
}

.imgPlaceholderSqure_49 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/49.jpg') !important;
}

.imgPlaceholderSqure_50 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/50.jpg') !important;
}

.imgPlaceholderSqure_51 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/51.jpg') !important;
}

.imgPlaceholderSqure_52 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/52.jpg') !important;
}

.imgPlaceholderSqure_53 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/53.jpg') !important;
}

.imgPlaceholderSqure_54 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/54.jpg') !important;
}

.imgPlaceholderSqure_55 {
    background: url('https://pixel4inch.github.io/utubelinks/images/squre/55.jpg') !important;
}