@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*=======================================
        MAIN PAGE CSS
========================================*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #fff
}


/*---header---*/

header h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: #000;
    font-size: 25px;
}

header p {
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: 400;
    color: #fc0000;
    font-size: 16px;
    margin-bottom: 0px;
}

.brand {
    width: 70px;
    height: 70px;
    padding: 5px;
}

/*---SIDEBAR---*/

.sidebar {
    width: 200px;
    height: 100vh;

    position: fixed;
}

.nav-tab-custome li,
.nav-tab-custome li button {
    width: 100% !important;
    display: block;
    text-align: left;
}

.nav-tab-custome li button {
    border-bottom: rgba(0, 0, 0, 0.2) solid 1px !important
}

.tab-content {
    width: calc(100% - 220px);
    margin-left: 220px;
}



/*---main----*/

main {
    margin-top: 95px;
}


/*---unorder-list---*/

.unorder-list {
    margin: 0;
    padding: 0;
}

.unorder-list li {
    margin: 2px;
    padding: 2px;
}

.unorder-list li a {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}