@import url(../../css/image.css);


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #000;

}

.container {
    display: flex;
    width: 100%;

}

.text-content {
    width: 100%;
    display: flex;
    /* justify-content: center;
        align-items: center; */
}


.text-content h1 {
    font-size: 80px;
    /* text-align: center; */
    color: #ffb900;
    -webkit-text-stroke: 1px;
    -webkit-text-fill-color: transparent;
    padding: 35px 0px;
}


.image-container {
    display: flex;
    padding: 0px 10%;

}

.image-container .img {
    width: 250px;
    height: 450px;
    background-size: cover !important;
}